
Raw/Good-lib1_S1_L001_R1_001.fastq
Raw/Good-lib1_S1_L001_R2_001.fastq
Updates/Untitled.tex
Jupyter_Notebooks/eDNA_Tides.ipynb
Jupyter_Notebooks/.ipynb_checkpoints/eDNA_Tides-checkpoint.ipynb
Raw/Good-lib1_S1_L001_R2_001_fastqc.zip
Raw/Good-lib1_S1_L001_R1_001_fastqc.zip
Jupyter_Notebooks/eDNA_Tides.ipynb
Jupyter_Notebooks/.ipynb_checkpoints/eDNA_Tides-checkpoint.ipynb
Jupyter_Notebooks/.ipynb_checkpoints/eDNA_Tides-checkpoint.ipynb
Jupyter_Notebooks/.ipynb_checkpoints/eDNA_Tides-checkpoint.ipynb
Jupyter_Notebooks/.ipynb_checkpoints/eDNA_Tides-checkpoint.ipynb
Merged/Lib-1.fastq.assembled.fastq
Merged/Lib-1.fastq.discarded.fastq
*.fastq
Raw/Good-lib1_S1_L001_R1_001_fastqc.zip
Raw/Good-lib1_S1_L001_R2_001_fastqc.zip
Jupyter_Notebooks/eDNA_Tides.ipynb
*.zip
Jupyter_Notebooks/eDNA_Tides.ipynb
Jupyter_Notebooks/.ipynb_checkpoints/eDNA_Tides-checkpoint.ipynb
Jupyter_Notebooks/eDNA_Tides.ipynb
*.zip
Raw/Good-lib1_S1_L001_R1_001_fastqc.zip
.DS_Store
Cluster/.DS_Store
Demultiplexed/sampleACACAC.fasta
Demultiplexed/sampleACAGCA.fasta
Demultiplexed/sampleACATGT.fasta
Demultiplexed/sampleACGACG.fasta
Demultiplexed/sampleATATCG.fasta
Demultiplexed/sampleATCAGT.fasta
Demultiplexed/sampleCGACGC.fasta
Demultiplexed/sampleCTCGCA.fasta
Demultiplexed/sampleGATGAC.fasta
Demultiplexed/sampleGCAGTG.fasta
Demultiplexed/sampleGCGCTC.fasta
Demultiplexed/sampleGTCTCT.fasta
Demultiplexed/sampleTCGCAT.fasta
Demultiplexed/sampleTCGTCA.fasta
Demultiplexed/sampleTGTATG.fasta
Demultiplexed/sampleunknown.fasta
Derep/.DS_Store
Derep/RemsampleACACA.fasta
Derep/sampleACACA.fasta
Derep/sampleACACAC.fasta
Derep/sampleACAGCA.fasta
Derep/sampleACATGT.fasta
Derep/sampleACGACG.fasta
Derep/sampleATATCG.fasta
Derep/sampleATCAGT.fasta
Derep/sampleCGACGC.fasta
Derep/sampleCTCGCA.fasta
Derep/sampleGATGAC.fasta
Derep/sampleGCAGTG.fasta
Derep/sampleGCGCTC.fasta
Derep/sampleGTCTCT.fasta
Derep/sampleTCGCAT.fasta
Derep/sampleTCGTCA.fasta
Derep/sampleTGTATG.fasta
Derep/sampleunknown.fasta
FASTA/Lib-1.assembled.fasta
FASTA/metadatatags.fasta
Issue55/.DS_Store
Jupyter_Notebooks/eDNA-Tides.ipynb
Jupyter_Notebooks/RC_Rev_sampleACACA.fasta
NoPrimers/.DS_Store
NoPrimers/RCsampleACACA.fasta
NoPrimers/sampleACACA.fasta
NoPrimers/sampleACACAC.fasta
NoPrimers/sampleACAGCA.fasta
NoPrimers/sampleACATGT.fasta
NoPrimers/sampleACGACG.fasta
NoPrimers/sampleATATCG.fasta
NoPrimers/sampleATCAGT.fasta
NoPrimers/sampleCGACGC.fasta
NoPrimers/sampleCTCGCA.fasta
NoPrimers/sampleGATGAC.fasta
NoPrimers/sampleGCAGTG.fasta
NoPrimers/sampleGCGCTC.fasta
NoPrimers/sampleGTCTCT.fasta
NoPrimers/sampleTCGCAT.fasta
NoPrimers/sampleTCGTCA.fasta
NoPrimers/sampleTGTATG.fasta
NoPrimers/sampleunknown.fasta
Raw/Good-lib1_S1_L001_R1_001_fastqc.zip
Raw/Good-lib1_S1_L001_R2_001_fastqc.zip
